@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.join {
  background: linear-gradient(to right, #081428, #6942e2);
  background-color: #081428;
}

.box1{
  background: #28E7C580;
  filter: blur(150px);
}
.buy{
  filter: blur(80px);
}
.box2{
  background: #6942E280;
  filter: blur(150px);
}
.rd1{
  background: linear-gradient(to right, #081428, #6942E2);
}
.rd2{
  background: linear-gradient(to right, #04473B, #28E7C5);
}
.rd3{
  background: linear-gradient(to right, #371C8A, #1BAB91);
}
.rd4{
  background: linear-gradient(to right, #6A41E1, #DC00BC);
}

